*,
body,
html {
  box-sizing: border-box;
  background-color: purple;
  text-align: center;
};



.btn{
    display: inline-block;
    font-size: 8rem;
    transition: all 0.2s;
    position: relative;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
   

};
