body {
  background-color: purple;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 22px;
  transition: all 0.2s;
  position: relative;
  animation: ease-out 0.75s;
  animation-fill-mode: backwards;
  margin: 10px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
  font-family: 'Pattaya', sans-serif;
}

.box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 100px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid white;
  box-sizing: border-box;
  margin: 20px;
  border-radius: 20px;
  background-color: #79b165;
  text-align: center;
  box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.5);
  transition: 1s ease-in;
  line-height: 1.1;
  width: 30%;
  font-family: 'Courier Prime', monospace;
}


.theimage {
  height: 200px;
}

:root{
color1: #33363b;
color2: #f4ab3a;
color3: #d36448;
color4:#672c1c;

color5:#212333;
color6:#f4f4f4;
color7:#aca16f;
color8:#a92b2e;

color9:#eee8e4;
color10:#222c25;
color11:#ea4072;
color12:#bca2ac;

color13:#fff8fa;
color14:#5b95a5;
color15:#934ff9;
color16:#eb7c77;
}
